
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta author="Spencer Manzon">            
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/register_styles.css">
        <link rel="icon" href="img/favicon.ico">
        <title>Snapback</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row" style="min-height:5vh; max-height:5vh;"></div>
            <div class="row" style="min-height:10vh; max-height:10vh; overflow-y:auto;">
                <div class="col-sm-12" id="dynamic_alert">
                    <% if (error && error.length > 0) { %>
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <%= error %>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    <% } %>
                    <% if (success && success.length > 0) { %>
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <%= success %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                    <% } %>
                </div>
            </div>

            <div class="row" style="display: flex">
                <div class="col-sm-1"></div>
                <div class="col-sm-4" style="padding-top: 5%;">
                    <img src="img/logo_blue.png"> <br>
                    <div class="text-center">
                        <button id="backBtn" class="btn btn-lg btn-outline-info align-self-center" id="submit" type="submit">Go Back</button>
                    </div>
                </div>
                <div id="regBox" class="col-sm-6">
                    <form class="form-signin" onsubmit="return validateForm()" method="post">
                        <h2 class="form-signin-heading" style="color:#358bbe;">Register</h2>
                        <% if (isProf) { %>
                        <div class="form-group">
                            Registration Key <br>
                            <div class="forms" style="width:    100%;">
                                <label for="regkey" class="sr-only">Registration Key</label>
                                <input <% if (form && form.regkey) { %> value="<%= form.regkey %>" <% } %> type="text" name="regkey" id="regkey" class="form-control" placeholder="Registration Key">
                            </div>
                        </div>
                        <% } %>
                        <div class="form-group">
                            Email <br>
                            <div class="forms">
                                <label for="email" class="sr-only">Email</label>
                                <input <% if (form && form.email) { %> value="<%= form.email %>" <% } %> type="email" name="email" id="email" class="form-control" placeholder="Email" required autofocus>
                            </div>
                            <div class="forms">
                                <label for="confirm_email" class="sr-only">Confirm Email</label>
                                <input <% if (form && form.confirm_email) { %> value="<%= form.confirm_email %>" <% } %> type="email" name="confirm_email" id="confirm_email" class="form-control" placeholder="Confirm Email" required>
                            </div>
                            <small id="emailMsg" class="form-text text-muted">Enter your email address.</small>
                        </div>
                        <div class="form-group">
                            <!--<label for="password">Password</label>-->
                            Password <br>
                            <div class="forms">
                                <input type="password" name="password" id="password" class="form-control" placeholder="Password" pattern=".{8,20}" title="Password must be 8 to 20 characters long." style="margin-bottom: 5px;" required>
                            </div>
                            <div class="forms">
                                <input type="password" name="confirm_password" id="confirm_password" class="form-control" placeholder="Confirm Password" pattern=".{8,20}" title="Password must be 8 to 20 characters long." required>
                            </div>
                            <small id="passwordMsg" class="form-text text-muted">Passwords must be 8-20 characters long.</small>
                        </div>
                        <div class="form-group">
                            Name <br>
                            <div class="forms">
                                <label for="fname" class="sr-only">First Name</label>
                                <input <% if (form && form.fname) { %> value="<%= form.fname %>" <% } %> type="text" name="fname" id="fname" class="form-control" placeholder="First Name" style="margin-bottom: 5px;" required>
                            </div>
                            <div class="forms">
                                <label for="lname" class="sr-only">Last Name</label>
                                <input <% if (form && form.lname) { %> value="<%= form.lname %>" <% } %> type="text" name="lname" id="lname" class="form-control" placeholder="Last Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            Institution <br>
                            <div class="forms">
                                <label for="id" class="sr-only">ID</label>
                                <input <% if (form && form.id) { %> value="<%= form.id %>" <% } %> type="text" name="id" id="id" class="form-control" placeholder="ID" style="margin-bottom: 5px;" required>
                            </div>
                            <div class="forms">
                                <label for="university" class="sr-only">University</label>
                                <select class="form-control" id="university" name="university" placeholder="University" required>
                                    <% if (form && form.university) { %>
                                    <option value="" disabled>Select Your University</option>
                                    <% for (let u of uni) { %>
                                    <option value="<%= u %>" <% if (form.university === u) { %> selected <% } %>><%= u %></option>
                                    <% } %>
                                    <% } else { %>
                                    <option value="" selected disabled>Select Your University</option>
                                    <% for (let u of uni) { %>
                                    <option value="<%= u %>"><%= u %></option>
                                    <% } %>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                            <button class="btn btn-lg btn-outline-info btn-block" id="submit" type="submit">Get Started!</button>
                    </form>
                </div>
                <!--<div class="col-sm-3"></div>-->
            </div>
        </div> <!-- /container -->
        <!-- Scripts -->
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="js/register.js"></script>
    </body>
</html>
